[session]
# If you want you can add your own session encryption key. Otherwise a key will
# be generated for you at initialisation.
encryption_key =

[sqlalchemy]
host = db
database = lighthouse
user = lighthouse
# Required
password =

[user]
username = admin
# Bcrypt hashed, required for now.
hashed_password =
salt =

[alembic]
# Fill in your values
sqlalchemy.url = postgres://<YOUR_DATA>
script_location = lighthouse:db/alembic

# Logging configuration
[loggers]
keys = root, lighthouse

[handlers]
keys = console

[formatters]
keys = generic

[logger_root]
level = INFO
handlers = console

[logger_lighthouse]
level = INFO
handlers =
qualname = lighthouse

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic

[formatter_generic]
format = %(asctime)s %(levelname)-5.5s [%(name)s:%(lineno)s][%(threadName)s] %(message)s
